html, body {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
.car-layout{
  display: flex;
  margin: 20px;
  gap: 40px;
  list-style-type: none;
  text-decoration: none;
}
.car-layout a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}